<footer class="">
    <div class="top flex-style">
        <img src="../img/assets/logo-light.png" alt="logo">
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        <p>nostrud exercitation ullamco laboris.”</p>
        <h5 style="margin-top:var(--spacing_lg)">STORES</h5>
        <p><a href="#">Dunsmuir Ave, Los Angeles, CA 90036, USA</a></p>
        <p><a href="#">Atkins Ave, Brooklyn, NY 11208, USA</a></p>
        <h5 style="margin-top:var(--spacing_lg)">News As Fresh As Our Coffee</h5>
        <form action="">
            <div class="formField flex-style">
                <input type="email" placeholder="Your E-mail adress">
                <button type="submit"><i class="far fa-envelope"></i></button>
            </div>
        </form>
    </div>
    <div class="bottom flex-style">
        <p>© 2018 Qode Interactive, , All Rights Reserved</p>
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
        <div class="social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            </ul>
        </div>
    </div>
</footer>