<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop</title>
    <link rel="icon" type="image/x-icon" href="./img/assets/cropped-favicon-32x32.png" />
    <!-- LINK -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.1/aos.css"
        integrity="sha512-7OPlCM+PSVgwXSPpzK4PQtri7uh4AASAiORgpGiyavbuGlnexNatIVvCm49Vdo3X+ZZOi6ZcASTgImsa8wV6kw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css" />

<body>
    {% include './Header.html' %}
    <main> {% block main %}{% endblock %} </main>
    {% include './Footer.html' %}
    </div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <!-- Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Animate on Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.1/aos.js"
        integrity="sha512-o5NWBp4t+/CsEqw0qPMjgaWKtCQuDkbou550UhrxfRomLI2rsFgYhhzjuzWv2N++AWthcTtx+N+pv1XmXhv9sQ=="
        crossorigin="anonymous"></script>
    <!-- Parallax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
        integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
    <!-- /SCRIPTS -->
</body>

</html>