{% extends 'templates/layout.html' %}
{% block main %}
<section class="hero">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div style="background: url('./img/images/home-1-slider-image-1.jpg') center/cover no-repeat"
                class="swiper-slide rellax flex-style " data-rellax-speed="-5" data-rellax-percentage="0.5">
                <div>
                    <img data-swiper-parallax-y="100 " data-swiper-parallax-duration="500"
                        src="./img/images/h1-slider-img-1.png" alt="">
                    <h1 data-swiper-parallax-y="125" data-swiper-parallax-duration="500">COFFE HEAVEN</h1>
                    <img data-swiper-parallax-y="150" data-swiper-parallax-duration="500"
                        src="./img/assets/slider-separator-img.png" alt="">
                    <p data-swiper-parallax-y="175" data-swiper-parallax-duration="500">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut
                        labore
                        et dolore magna aliqua atin script and its variants, and.
                    </p>
                    <a data-swiper-parallax-y="200" class="btn-style" href="#">
                        SHOP HERE
                    </a>
                </div>
            </div>
            <div style="background: url('./img/images/home-1-slider-image-2.jpg') center/cover no-repeat"
                class="swiper-slide rellax flex-style" data-rellax-speed="-5" data-rellax-percentage="0.5">
                <div>
                    <img data-swiper-parallax-y="100 " data-swiper-parallax-duration="500"
                        src="./img/images/h1-slider-img-1.png" alt="">
                    <h1 data-swiper-parallax-y="125" data-swiper-parallax-duration="500">COFFE HEAVEN</h1>
                    <img data-swiper-parallax-y="150" data-swiper-parallax-duration="500"
                        src="./img/assets/slider-separator-img.png" alt="">
                    <p data-swiper-parallax-y="175" data-swiper-parallax-duration="500">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut
                        labore
                        et dolore magna aliqua atin script and its variants, and.
                    </p>
                    <a data-swiper-parallax-y="200" class="btn-style" href="#">
                        SHOP HERE
                    </a>
                </div>
            </div>
            <div style="background: url('./img/images/home-1-slider-image-3.jpg') center/cover no-repeat"
                class="swiper-slide rellax flex-style" data-rellax-speed="-5" data-rellax-percentage="0.5">
                <div>
                    <img data-swiper-parallax-y="100 " data-swiper-parallax-duration="500"
                        src="./img/images/h1-slider-img-1.png" alt="">
                    <h1 data-swiper-parallax-y="125" data-swiper-parallax-duration="500">COFFE HEAVEN</h1>
                    <img data-swiper-parallax-y="150" data-swiper-parallax-duration="500"
                        src="./img/assets/slider-separator-img.png" alt="">
                    <p data-swiper-parallax-y="175" data-swiper-parallax-duration="500">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut
                        labore
                        et dolore magna aliqua atin script and its variants, and.
                    </p>
                    <a data-swiper-parallax-y="200" class="btn-style" href="#">
                        SHOP HERE
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="layoutContent">
    <div class="headLine">
        <h2>OUR DELICIOUS OFFER</h2>
        <img src="./img/assets/title-separator.png" alt="title-separator">
        <h6 style="color:var(--dark_font)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
            dolore
        </h6>
    </div>
    <div class="bodyContent">
        <div class="item paddingItem">
            <img src="./img/assets/h2-custom-icon-5.png" alt="iconcustom">
            <h5>TYPES OF COFFE</h5>
            <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo </p>
        </div>
        <div class="item paddingItem">
            <img src="./img/assets/h2-custom-icon-6.png" alt="iconcustom">
            <h5>TYPES OF COFFE</h5>
            <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo </p>
        </div>
        <div class="item paddingItem">
            <img src="./img/assets/h2-custom-icon-7.png" alt="iconcustom">
            <h5>TYPES OF COFFE</h5>
            <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo </p>
        </div>
        <div class="item paddingItem">
            <img src="./img/assets/h2-custom-icon-8.png" alt="iconcustom">
            <h5>TYPES OF COFFE</h5>
            <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo </p>
        </div>
    </div>
</section>
<section class="layoutContent"
    style="background: url('./img/images/new-new-h1-bacground-img-3.jpg') center/cover no-repeat;">
    <div class="headLine">
        <h2>THE COFFEE HERALD</h2>
        <img src="./img/assets/title-separator.png" alt="title-separator">
        <h6 style="color:var(--dark_font)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
            dolore
        </h6>
    </div>
    <div class="bodyContent" style="padding-bottom:0 ;">
        <div class="item" style="text-align: left">
            <img src="./img/images/blog-1-img-1.jpg" alt="blogimg">
            <h5>Prep Techniques </h5>
            <p>
                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi,
                nam eget dui. Etiam rhoncus maecenas tempus,
            </p>
            <a href="#" class="btn-readmore"><span class="btn-text">Read More</span></a>
        </div>
        <div class="item" style="text-align: left">
            <img src="./img/images/blog-1-img-2.jpg" alt="blogimg">
            <h5>Prep Techniques </h5>
            <p>
                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi,
                nam eget dui. Etiam rhoncus maecenas tempus,
            </p>
            <a href="#" class="btn-readmore"><span class="btn-text">Read More</span></a>
        </div>
        <div class="item" style="text-align: left">
            <img src="./img/images/blog-1-img-3-768x620.jpg" alt="blogimg">
            <h5>Prep Techniques </h5>
            <p>
                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi,
                nam eget dui. Etiam rhoncus maecenas tempus,
            </p>
            <a href="#" class="btn-readmore"><span class="btn-text">Read More</span></a>
        </div>
        <div class="item" style="text-align: left">
            <img src="./img/images/blog-1-img-1.jpg" alt="blogimg">
            <h5>Prep Techniques </h5>
            <p>
                Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi,
                nam eget dui. Etiam rhoncus maecenas tempus,
            </p>
            <a href="#" class="btn-readmore"><span class="btn-text">Read More</span></a>
        </div>
    </div>
    <div class="flex-style" id="scene">
        <div class="backgroundParallax rellax" data-rellax-speed="-4" data-rellax-percentage="0.5">

        </div>
        <img data-depth="0.2" src="./img/assets/h1-single-img-1-250x226.png" alt="single image">
    </div>
</section>
<section class="layoutContent">
    <div class="bodyContent">
        <div class="headLine">
            <h1 class="zero-counter">250</h1>
            <h5> Varieties of Coffee </h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean </p>
        </div>
        <div class="headLine">
            <h1 class="zero-counter">250</h1>
            <h5> Varieties of Coffee </h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean </p>
        </div>
        <div class="headLine">
            <h1 class="zero-counter">250</h1>
            <h5> Varieties of Coffee </h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean </p>
        </div>
        <div class="headLine">
            <h1 class="zero-counter">250</h1>
            <h5> Varieties of Coffee </h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean </p>
        </div>
    </div>
</section>
<section class="layoutContent"
    style="background: url('./img/images/new-new-h1-bacground-img-3.jpg') center/cover no-repeat;">
    <div class="headLine">
        <h2>ONLINE COFFE SHOP</h2>
        <img src="./img/assets/title-separator.png" alt="title-separator">
        <h6 style="color:var(--dark_font)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
            dolore
        </h6>
    </div>
    <div class="bodyContent" style="padding-bottom:0 ;">
        <div class="item" style="text-align: center">
            <a href="#">
                <img src="./img/images/product-img-1-800x800.png" alt="blogimg">
                <h5>EPITOPIA COFFE </h5>
                <p style="font-size:18px; margin-top: 10px;"> 15.00$ </p>
            </a>
        </div>
        <div class="item" style="text-align: center">
            <a href="#">
                <img src="./img/images/product-img-3-300x300.png" alt="blogimg">
                <h5>EPITOPIA COFFE </h5>
                <p style="font-size:18px; margin-top: 10px;"> 15.00$ </p>
            </a>
        </div>
        <div class="item" style="text-align: center">
            <a href="#">
                <img src="./img/images/product-img-5-800x800.png" alt="blogimg">
                <h5>EPITOPIA COFFE </h5>
                <p style="font-size:18px; margin-top: 10px;"> 15.00$ </p>
            </a>
        </div>
        <div class="item" style="text-align: center">
            <a href="#">
                <img src="./img/images/product-img-8-800x800.png" alt="blogimg">
                <h5>EPITOPIA COFFE </h5>
                <p style="font-size:18px; margin-top: 10px;"> 15.00$ </p>
            </a>
        </div>
    </div>
</section>
<section class="layoutContent">
    <div class="headLine">
        <h2> Our Sweet Gallery </h2>
        <img src="./img/assets/title-separator.png" alt="title-separator">
        <h6 style="color:var(--dark_font)">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
            dolore
        </h6>
    </div>
    <div class="bodyContent layoutBlog" style="column-gap: 20px;">

        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-1.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-2.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-5.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-7.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-7.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-7.jpg" alt="">
        </div>
        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-5.jpg" alt="">
        </div>

        <div class="itemImage">
            <div class="textHolder flex-style">
                <h4>PERFECT CUP</h4>
                <div> <a href="#">Cup of Coffee</a> / <a href="#">Filtered</a></div>
            </div>
            <img src="./img/images/port-1-img-2.jpg" alt="">
        </div>

    </div>
</section>
<section class="layoutContent"
    style="padding-bottom: var(--spacing_xl);text-align: left;background: url('./img/images/new-new-h1-bacground-img-3.jpg') center/cover no-repeat;">
    <div class="headLine">
        <h5 style="color:var(--dark_font);text-transform: uppercase;">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do</h5>
        <a class=btn-style href="#">
            CONTECT US
        </a>
    </div>
</section>
{% endblock %}