@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "./css/header.scss";
@import "./css/footer.scss";
@import "./css/hero.scss";
@import "./css/contentSection.scss";
* {
  box-sizing: border-box;
}

:root {
  --dark_light: #656565;
  --dark_font: #262626;
  --brown_font: #be9c79;
  --brown_light: #be9c79;
  --spacing_sm: 20px;
  --spacing_md: 40px;
  --spacing_lg: 60px;
  --spacing_xl: 80px;
  --font_heading: "Marcellus", sans-serif;
  --font_body: "open sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font_body);
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: var(--dark_light);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark_font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: 400 28px/38px var(--font_heading);
}

h2 {
  font: 400 35px/1.22em var(--font_heading);
}

h5 {
  font: 400 18px/1.5em var(--font_heading);
  letter-spacing: 1px;
}

h4 {
  font: 400 25px/1.33em var(--font_heading);
}

h6 {
  font: 300 18px/1.55em var(--font_body);
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.btn-text {
  font: 600 14px/1.15em var(--font_body);
  letter-spacing: 0.15em;
  cursor: pointer;
}

.btn-readmore {
  padding-left: var(--spacing_sm);
  position: relative;
  color: var(--dark_font);
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 1px;
    background: var(--dark_font);
  }
}

.btn-style {
  margin-top: 30px;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 45px;
  letter-spacing: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  // transition: 0.5s ease;
  // transition-property: background, color;
}

.flex-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddingItem {
  padding: 0 var(--spacing_md) var(--spacing_xl) var(--spacing_md);
  img {
    width: auto !important;
  }
}

.zero-counter {
  font: 400 55px/0.9em var(--font_heading);
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.05em;
  color: var(--brown_light);
  margin-bottom: var(--spacing_sm);
}

@media (min-width: 768px) {
  h1 {
    font: 400 68px/78px var(--font_heading);
  }
  h2 {
    font-size: 43px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 20px;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 100px;
    line-height: 110px;
  }
  h2 {
    font-size: 45px;
  }

  .layoutBlog {
    grid-template-columns: repeat(4, 1fr) !important;
    max-width: unset !important;
  }
}
